<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso de Internet -->
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizUpProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- SplashActivity es la primera pantalla al abrir la app -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".CrearSalaActivity" android:exported="true" />
        <activity android:name=".InicioSesionActivity" android:exported="true" />
        <activity android:name=".CrearUnirseActivity" android:exported="true" />
        <activity android:name=".CasillaActivity" android:exported="true" />
        <activity android:name=".PreguntaAngelActivity" android:exported="true" />
        <activity android:name=".PreguntaArteActivity" android:exported="true" />
        <activity android:name=".PreguntaBaseActivity" android:exported="true" />
        <activity android:name=".PreguntaCineActivity" android:exported="true" />
        <activity android:name=".PreguntaDemonioActivity" android:exported="true" />
        <activity android:name=".PreguntaGeografiaActivity" android:exported="true" />
        <activity android:name=".PreguntaHistoriaActivity" android:exported="true" />
        <activity android:name=".PreguntaMusicaActivity" android:exported="true" />
        <activity android:name=".VictoriaActivity" android:exported="true" />
        <activity android:name=".UnirseSalaActivity" android:exported="true" />

    </application>

</manifest>
